<a href="https://colab.research.google.com/github/srujan-bandla/srujan_INFO5731_Fall2022/blob/main/In_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (09/07/2022, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [3]:
# write your answer here
input_string = "University of North Texas - MS in Data Science"
print("Length of string : {0}".format(len(input_string)))

Length of string : 46

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [5]:
# write your answer here
import operator

def string_To_Dict(str1):
  str_dict = dict()
  for i in str1:
    count = 0
    for s in str1:
      if i == s:
        count += 1
    str_dict[i] = count
  sorted_d = dict( sorted(str_dict.items(), key=operator.itemgetter(1),reverse=True))
  return sorted_d

# Declaring an input string and calling above function
input_string = "apple.com"
print("Expected Result:", string_To_Dict(input_string))

input_string1 = "google.com"
print("Expected Result :", string_To_Dict(input_string1))

Expected Result: {'p': 2, 'a': 1, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'o': 1, 'm': 1}
Expected Result : {'o': 3, 'g': 2, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [6]:
# write your answer here
def sum_list(items):  
    sum_numbers = 0  
    for x in items:  
        sum_numbers += x  
    return sum_numbers


print(sum_list([25,12,-18,3,8,-10,16]))

36

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [11]:
# write your answer here
def change_char(str1):  
  char = str1[0]  
  length = len(str1)  
  str1 = str1.replace(char, '$')  
  str1 = char + str1[1:]  
  
  return str1  
  
print(change_char('restart'))
print(change_char('google'))

resta$t
goo$le

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [12]:
# write your answer here
a = int(input("Enter the value of a: "))
b = int(input("Enter the value of b: "))
S = 3.14 * (1 + a/b)**3
print(S)

Enter the value of a: 10
Enter the value of b: 12
19.3487962962963

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [13]:
# write your answer here
dic1 = {1:10, 2:20}
dic2 = {3:30, 4:40}
dic3 = {5:50,6:60}
dic4 = {}  
for d in (dic1, dic2, dic3): 
  dic4.update(d)  
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [14]:
# write your answer here
input_tuple = ('apple','slack',34, 'red','a', 1, 4, 'Hello')
print("apple is in given tuple: {0}".format('apple' in input_tuple))
print("1 is in given tuple: {0}".format(1 in input_tuple))
print("green is in given tuple: {0}".format('green' in input_tuple))

apple is in given tuple: True
1 is in given tuple: True
green is in given tuple: False

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [15]:
# write your answer here
input_set = set([81,55,6,17,110,212,3,45])
print("Maximum is {0}, Minimum is {1}".format(max(input_set), min(input_set)))

Maximum is 212, Minimum is 3

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [16]:
# write your answer here
import random

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']
for j in range(0,6):
    print(random.sample(studnet_list, k = 5))

['ms1500', 'sb1357', 'sk1390', 'av0659', 'kg0569']
['sc1229', 'sm1640', 'hy0232', 'ms1500', 'bg0320']
['vb0218', 'sm1907', 'sk1390', 'aos0040', 'jl1252']
['jl1252', 'gn0108', 'sg1297', 'sb1357', 'ja0964']
['vb0218', 'sb1357', 'kg0470', 'ja0964', 'ms1500']
['sm1907', 'ak0934', 'sg1297', 'kg0569', 'nm0618']

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [20]:
# write your answer here
def find_duplicates(nums):
    num_set = set()
    no_duplicates = -1

    for i in range(len(nums)):

        if nums[i] in num_set:
            return nums[i]
        else:
            num_set.add(nums[i])

    return no_duplicates

print(find_duplicates([5, 6, 7, 8, 7, 2, 9, 1, 3, 4]))
print(find_duplicates([5, 7, 2, 8, 3, 4]))
print(find_duplicates([2, 1, 2, 3, 3, 2, 2]))

7
-1
2

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [28]:
# write your answer here
from datetime import date
import calendar

Year= 2022
all_sundays = calendar.TextCalendar(calendar.SUNDAY)
for m in range(1,13):
    for d in all_sundays.itermonthdays(Year,m):
        if d!=0:
            day=date(Year,m,d)
            if day.weekday()==6:
                print("%s,%d-%d-%d" % (calendar.day_name[6] ,d,m,Year))

Sunday,2-1-2022
Sunday,9-1-2022
Sunday,16-1-2022
Sunday,23-1-2022
Sunday,30-1-2022
Sunday,6-2-2022
Sunday,13-2-2022
Sunday,20-2-2022
Sunday,27-2-2022
Sunday,6-3-2022
Sunday,13-3-2022
Sunday,20-3-2022
Sunday,27-3-2022
Sunday,3-4-2022
Sunday,10-4-2022
Sunday,17-4-2022
Sunday,24-4-2022
Sunday,1-5-2022
Sunday,8-5-2022
Sunday,15-5-2022
Sunday,22-5-2022
Sunday,29-5-2022
Sunday,5-6-2022
Sunday,12-6-2022
Sunday,19-6-2022
Sunday,26-6-2022
Sunday,3-7-2022
Sunday,10-7-2022
Sunday,17-7-2022
Sunday,24-7-2022
Sunday,31-7-2022
Sunday,7-8-2022
Sunday,14-8-2022
Sunday,21-8-2022
Sunday,28-8-2022
Sunday,4-9-2022
Sunday,11-9-2022
Sunday,18-9-2022
Sunday,25-9-2022
Sunday,2-10-2022
Sunday,9-10-2022
Sunday,16-10-2022
Sunday,23-10-2022
Sunday,30-10-2022
Sunday,6-11-2022
Sunday,13-11-2022
Sunday,20-11-2022
Sunday,27-11-2022
Sunday,4-12-2022
Sunday,11-12-2022
Sunday,18-12-2022
Sunday,25-12-2022